@import "src/styles/mixin";

.root {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #faedcd !important;

  margin-bottom: 20px;
  padding: 25px 25px;

}

.title {
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
}